/coursework.Data/bin
/coursework.Data/obj

/coursework.Domain/bin
/coursework.Domain/obj

/coursework.EntityFramework/bin
/coursework.EntityFramework/obj

/coursework.UI/bin
/coursework.UI/obj

/coursework.Data/.vs

/coursework.Domain/.vs

/coursework.EntityFramework/.vs

/coursework.UI/.vs